@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 44px;
    background-color: black;
    color: white;

}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0px 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('hp.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
}

.bottom {
    position: sticky;
    height: 90px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myprogressbar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songitemcontainer {
    margin-top: 74px;

}

.songItem {
    height: 50px;
    display: flex;
    background-color: black;
    color: rgb(46 255 159);
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img {
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}
.songlist h1{
    color: black;
}.songName{
    color: white;
}